body {
  background: #FFFFFF;
  counter-reset: page;
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 11pt;
  text-align: left;
  line-height: 1;
}

h1 {
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 32pt;
  line-height: 1;
  color: #004FC7;
}

h2 {
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 48pt;
  font-weight: 500;
  line-height: auto;
  break-before: page;
  color: #004FC7;
}

h3{
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 18pt;
  font-weight: 500;
  color: #004FC7;
}

h4{
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
}

#full-bleed-cover_1{
  break-after: page;
}

#seasonTenStat{
line-height: 120%;
padding-top: 100px;
}

#seasonElevenStat{
  line-height: 120%;
  padding-top: 100px;
  }

  #seasonTwelveStat{
    line-height: 120%;
    padding-top: 100px;
    }

#statOne{
  font-size: 40pt;
  font-weight: 500;
  color: #004FC7;
}

#kdaOne{
  padding-top: 100px;
  line-height: 0;
}

#block{
  height: 290px;
}

#introduction{
  break-before: page;
}

#karma{
 object-fit: cover;
}

page:nth-child(2){
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

page:nth-child(3){
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 0.25in;
  margin-right: 0.25in;
}

page:nth-child(5){
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

p{
  color: #82828C;
}

#content{
  break-before: page;
  text-align: left;
}

#gallery {
  align-content: center;
}

#description {
  font-size: 11pt;
}

#last{
  line-height: 10px;
  padding-top: 100px;
  color: white;
}


#heading{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

#logo5{
  align-content: center;
  margin-top: 50%;
  margin-left: 50%;
}

.blank-left{
  page-break-after: page;
}

.full-bleed-cover{
  margin: -80px -80px 0 -80px;
}

.full-bleed-title{
  margin: -25px -950px 0 -24px;
  object-fit: cover;
}

.full-bleed {
  margin: -50px -50px -50px 0;
  margin-left: -24px;
}

.full-bleed-soraka{
  margin: -48px -205px -100px 0;
  margin-left: -24px;
}

.full-bleed-lux{
  margin: -60px -210px -50px 0;
  margin-left: -24px;
}

.full-bleed-ahri{
  margin-top: -26px;
  margin-left: -24px;
}

.full-bleed-back-cover{
  margin: -30px 0 0 0;
  margin-left: -24px;
}

.blank-two{
  height: 1000px;
}

.full-bleed-seraphine{
  margin: -50px -215px -50px 0;
  margin-left: -24px;
}

.full-bleed-recap{
  margin: -24px -24px 0px -24px;
}

.verdict{
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 1;
}

.verdict p{
  color: #004FC7;
}

.full-bleed-blank-left{
  margin: -30px 0 0 0;
  margin-left: -24px;
}

.blank:after{
  display: block;
  page-break-before: always;
}

.blank-three{
  height: 2000px;
}

blockquote {
  line-height: 1.6;
  color: #fff;
  font-size: 1.8rem;
  margin: 0 auto;
  width: min(80%, 43.75rem);
  text-align: center;
  padding: 3rem 1.5rem;
}
cite {
  white-space: nowrap;
}

@media print {
  body {
    background: white;
  }
}

@page {
  size: 5in 8in;
  margin-top: 0.25in;
  margin-bottom: 0.25in;
  bleed: 0mm;
  marks: crop;
}

@page:left {
  margin-left: 0.25in;
  margin-right: 0.25in;
  /* @bottom-left{
    content: counter(page);
  } */
  /* @bottom-right{
    content:"LOL Ranked in Data";
    color: gray;
  } */
}

@page:right {
  margin-left: 0.25in;
  margin-right: 0.25in;
  /* @bottom-left {
    content:"Anna Sham";
    color: gray;
  } */
  /* @bottom-right{
    content: counter(page);
  } */
}
/* 
@media print{
} */

multi column
.two-col{
  column-count: 2;
  column-gap: 2em;
}

.pagedjs_pagebox {
  grid-template-columns:
    [left] var(--pagedjs-margin-left)
    [center] calc(
      var(--pagedjs-pagebox-width) - var(--pagedjs-margin-left) - var(--pagedjs-margin-right)
    )
    [right] var(--pagedjs-margin-right);
  grid-template-rows:
    [header] var(--pagedjs-margin-top)
    [page] calc(
      var(--pagedjs-pagebox-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom)
    )
    [footer] var(--pagedjs-margin-bottom);
}