body {
  background: #FFFFFF;
  counter-reset: page;
  font-family: "Test Founders Grotesk";
  font-size: 11pt;
  text-align: left;
  line-height: 1;
}
h1 {
  font-family: "Rixel";
  font-size: 64pt;
  line-height: 1;
}

h2 {
  font-family: "Rixel";
  font-size: 24pt;
  break-before: page;
}

p{
  color: #82828C;
}

#content{
  break-before: page;
  text-align: left;
}

#gallery {
  align-content: center;
}

#description {
  font-size: 11pt;
}

@media print {
  body {
    background: white;
  }
}

@page {
  size: 5in 8in;
  margin-top: 0.25in;
  margin-bottom: 0.5in;
}
@page:left {
  margin-left: 0.25in;
  margin-right: 0.25in;
  @bottom-left{
    content: counter(page);
  }
  @bottom-right{
    content:"LOL Ranked in Data";
    color: gray;
  }
}

@page:right {
  margin-left: 0.25in;
  margin-right: 0.25in;
  @bottom-left {
    content:"Anna Sham";
    color: gray;
  }
  @bottom-right{
    content: counter(page);
  }
}

/* multi column
.two-col{
  column-count: 2;
  column-gap: 2em;
} */